footer {
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 18px;
  width: 100%;
  text-align: center;
  line-height: 80px;
  margin-top: 40px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
